@model IEnumerable<Async_Inn.Models.HotelRoom>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Hotel Rooms</h2>

<a asp-action="Create">Add New Hotel Room</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PetFriendly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.RoomNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PetFriendly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hotel.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.HotelID, item.RoomID }) |
                    @Html.ActionLink("Details", "Details", new { item.HotelID, item.RoomID }) |
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="../Home/Index">Back to main page</a>