@model IEnumerable<Async_Inn.Models.RoomAmenity>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Room Amenities</h2>

<p>
    <a class="button" asp-action="Create">Add New Room Amenity</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Amenity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amenity.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>