@model IEnumerable<Async_Inn.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Rooms</h2>

<p>
    <a class="button" asp-action="Create">Add Room</a>
</p>

<form method="post">
    <input type="text" asp-route-data="searchterm" placeholder="Search Hotel" name="searchterm" />
    <button type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layout)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Layout)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>